<div class="container">
  <h1 class="row mat-display-4 mb-4">League info</h1>
  <h2 class="row mat-display-2 mb-3">{{ leagueInfo.settings.name }}</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let team of leagueInfo.teams">
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-subheading-2 mb-0">
          {{ teamName(team.location, team.nickname) }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-team-detail [teamId]="team.id"></app-team-detail>
    </mat-expansion-panel>
  </mat-accordion>
</div>
